---
- name: Create systemd unit configuration
  template:
    src: systemd_unit.j2
    dest: "/etc/systemd/system/{{ nodejs_app_name }}.service"
  when: (not is_docker) and (nodejs_app_start_script)
  notify:
    - reload systemd
    - Enable and/or restart systemd unit

- name: Create Supervisor config for Docker containers
  template:
    src: supervisor_nodejs.ini.j2
    dest: "/etc/supervisord.d/{{ nodejs_app_name }}.ini"
    mode: 0644
    owner: root
    group: root
  when: (is_docker) and (nodejs_app_start_script)
