---

# Workaround for https://github.com/ansible/ansible-modules-extras/issues/471
- name: Install Yum Utilities
  shell: dnf -y install yum-utils
  args:
    creates: /usr/bin/repoquery
  when: is_fedora

- name: Enable Node.js LTS repository on Fedora
  dnf:
    name: "{{ nodejs_lts_fedora_repository_rpm }}"
    state: present
  when: is_fedora and nodejs_branch == "lts"

- name: Enable Node.js Current repository on Fedora
  dnf:
    name: "{{ nodejs_current_fedora_repository_rpm }}"
    state: present
  when: is_fedora and nodejs_branch == "current"

- name: Install latest Node.js version on Fedora
  dnf:
    name: nodejs
    state: latest
  when: is_fedora and nodejs_version is undefined

- name: Install specific Node.js version on Fedora
  dnf:
    name: "nodejs-{{ nodejs_version }}"
    state: present
  when: is_fedora and nodejs_version is defined

- name: Install additional RPM packages on Fedora
  dnf:
    name: "{{ item }}"
    state: present
  with_flattened:
    - "{{ nodejs_rpm_packages }}"
    - "{{ nodejs_app_rpm_packages }}"
  when: is_fedora

- name: Ensure rsync is installed for npm path workaround if a Fedora Vagrant environment is being used
  dnf:
    name: rsync
    state: present
  when: (is_vagrant) and (is_fedora)

- name: Enable Node.js LTS repository on CentOS
  yum:
    name: "{{ nodejs_lts_centos_repository_rpm }}"
    state: present
  when: is_centos and nodejs_branch == "lts"

- name: Enable Node.js Current repository on CentOS
  yum:
    name: "{{ nodejs_current_centos_repository_rpm }}"
    state: present
  when: is_centos and nodejs_branch == "current"

- name: Install latest Node.js version on CentOS
  yum:
    name: nodejs
    state: latest
  when: is_centos and nodejs_version is undefined

- name: Install specific Node.js version on CentOS
  yum:
    name: "nodejs-{{ nodejs_version }}"
    state: present
  when: is_centos and nodejs_version is defined

- name: Fail if nodejs- RPM packages are specified in nodejs_app_rpm_packages
  fail:
    msg: "Node.js packages should be installed through npm (see nodejs_app_npm_packages)"
  when: "'nodejs-' in '{{ nodejs_app_rpm_packages|join(' ') }}'"

- name: Install additional RPM packages on CentOS
  yum:
    name: "{{ item }}"
    state: present
  with_flattened:
    - "{{ nodejs_rpm_packages }}"
    - "{{ nodejs_app_rpm_packages }}"
  when: is_centos

- name: Enable Yarn repository on CentOS/Fedora
  get_url:
    url: "{{ nodejs_yarn_repository_url }}"
    dest: "/etc/yum.repos.d/yarn.repo"
  when: nodejs_yarn_enabled

- name: Install Yarn package manager on CentOS/Fedora
  package:
    name: yarn
    state: latest
  when: nodejs_yarn_enabled

- name: Ensure rsync is installed for npm path workaround if a CentOS Vagrant environment is being used
  yum:
    name: rsync
    state: present
  when: (is_vagrant) and (is_centos)

- name: Adjust npm version
  npm:
    name: npm
    version: "{{ nodejs_npm_version }}"
    global: yes
  when: nodejs_npm_version is defined

- name: Install required npm packages
  npm:
    name: "{{ item }}"
    global: yes
  with_items:
    - "{{ nodejs_npm_packages }}"
    - "{{ nodejs_app_npm_packages }}"

- name: Install nodemon if a development environment is being used
  npm:
    name: nodemon
    state: present
    global: yes
  when: nodejs_app_dev_env
